@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset.css";

html {
  overflow-x: hidden;
}

html,
body,
#__next,
header,
main {
  height: 100%;
}

header {
  width: initial;
  overflow: hidden;
}

main {
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.52);
}

#__next {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
